<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good news! Sa nowe filmy:</h1>
    <% @films.each do |film| %>
      <div style="min-height: 140px; margin-top: 20px; clear: both;">
        <% if film.review %>
          <img align="left" style="padding: 5px;" src="<%= film.poster_url %>"/>
          <h3><%= film.title %></h3>
          <p><%= film.review.plot %></p>
        <% else %>
          <h3><%= film.title %></h3>
        <% end %>
        <p>wyswietlany w: <%= film.cinemas.join(", ") %></p>
      </div>
    <% end %>
    <p>Zapraszam na <a href="http://kino.skrobul.com/">kino.skrobul.com</a> po wiecej info.</p>
  </body>
</html>