
        <div class="row film <%= cycle('odd', 'even') %>">
              <div class="col-md-2 col-xs-4">
                    <a href="<%= film.film_url %>"><img src="<%= film.poster_url %>"/></a>
              </div>
            <div class="col-md-10 col-xs-8">
                <a href="<%= film.film_url %>"><span class="filmtitle"><%= film.title %></span></a>
                <% if film.review %>
                    <span><%= film.review.length %>m</span>
                <% end %>

                 <%# film descriptions should go here %>
                <p>
                 <% cinema.performances.currently_for_film(film.id).each do |performance| %>
                    <%= link_to performance.short_time, performance.booking_url, :class => "badge" %>
                 <% end %>
                 </p>
                 <% if film.review %>
                     <div class="review">
                        <p class="short_plot"><%= film.review.plot %>
                          <% unless film.review.plot_summary.nil? %>
                            <button class="btn btn-default btn-xs show_full_plot">...more</button>
                          <% end %>
                        </p>
                        <% unless film.review.plot_summary.nil? %>
                            
                            <div class="row">
                              <div class="still col-md-6" data-still-url="<%= film.still_url %>">
                                <img></img>
                              </div>
                              <div class="col-md-6">
                                <p class="full_plot">
                                    <%= sanitize film.review.plot_summary %>
                                </p>
                                <p class="full_plot">
                                Languages: <%= film.review.languages %>
                                Director: <%= film.review.director %>
                                Genre: <%= film.review.genres %>
                                </p>
                                <p>
                                  <button class="btn btn-default btn-xs hide_full_plot">...less</button>
                                </p>
                              </div>
                            </div>
                        <% end %>
                        <%= render partial: "trailer", locals: { :film => film } %>
                        <%= link_to "IMDB", film.review.url, :class => "btn btn-default btn-xs" %> 
                     </div>
                <% end %>

            </div>
        </div>