
<%= content_for(:menu_items) do %>
    <% @cinemas.each do |cinema| %>
                <li><a href="#<%= cinema %>"><%= cinema.name.gsub("London - ", "") %> </a></li>
    <% end %>
<% end %>

<% @cinemas.each do |cinema| %>
    <div class="row">
        <h3 id="<%= cinema %>"><%= cinema %></h3>
    </div>
    
    <% unless cinema.performances.current.empty? %>
	   <% cinema.films.each do |film| %>
            <% if cinema.performances.currently_for_film(film.id).count > 0 %>
                <%= render partial: "film", locals: { film: film, cinema: cinema } %>
            <% end %> 
        <% end %>

    <% else %>
    		 <p>There are no more performances for today in this cinema.</p>
    <% end %>
	
<% end %>