

<% @movies.each do |cinema, movies| %>
        <div class="row btn-group">
            <div class="col-md-10">
            <a class="btn btn-default" href="#<%= cinema %>"><%= cinema.gsub("London - ", "") %> </a>
            </div>
        </div>
<% end %>


<% @movies.each do |cinema, movies| %>
<div class="row">
    <h3 id="<%= cinema %>"><%= cinema %></h3>
</div>
	
        		<% if ! movies.empty? %>
		<% movies.each do |m, performances| %>
                            <div class="row film">
		      <div class="col-md-2 col-xs-4">
                                    <a href="<%= m['film_url'] %>"><img src="<%= m['poster_url'] %>"/></a>
                                </div>
                                <div class="col-md-10 col-xs-8">
                                    <a href="<%= m['film_url'] %>"><span class="filmtitle"><%= m['title'] %></span></a>
                                        <% unless @film_descriptions.nil? or @film_descriptions[m['title']].nil? %>
                                            <%= @film_descriptions[m['title']][:length] %> min
                                        <% end %>
                                    
                                    <p>
                                     <b><%= performances.join(', ') %></b>
                                    </p>
                                    <% unless @film_descriptions.nil? or @film_descriptions[m['title']].nil? %>
                                        <% desc = @film_descriptions[m['title']] %>
                                        <p><%= desc[:plot] %>  <button class="btn btn-sm btn-primary show_full_plot">...more</button></p>
                                        <p class="full_plot"><%= desc[:plot_summary] %></p>
                                        <p>
                                        <b>Languages:</b> <%= desc[:languages].join(", ") %> <b>Director:</b> <%= desc[:director].join(", ") %>
                                        <b>Genre:</b> <%= desc[:genres].join("/") %> 
                                        </p>
                                    <% end %>
                                    </p>
                                </div>
                            </div>

			<% end %>
		<% else %>
			 <p>There are no more performances for today in this cinema.</p>
		<% end %>
	

<% end %>