<div class="row">
    <h1>Upcoming Movies</h1>
</div>

<% @movies.each do |cinema, movies| %>
        <div class="row btn-group">
            <div class="col-md-10">
            <a class="btn btn-default" href="#<%= cinema %>"><%= cinema.gsub("London - ", "") %> </a>
            </div>
        </div>
<% end %>


<hr>
<% @movies.each do |cinema, movies| %>
<div class="row">
    <h3 id="<%= cinema %>"><%= cinema %></h3>
</div>
	
        		<% if ! movies.empty? %>
		<% movies.each do |m, performances| %>
                            <div class="row film">
		      <div class="col-md-2 col-xs-4">
                                    <a href="<%= m['film_url'] %>"><img src="<%= m['poster_url'] %>"/></a>
                                </div>
                                <div class="col-md-10 col-xs-8">
                                    <a href="<%= m['film_url'] %>"><h4><%= m['title'] %></h4></a>
                                    <p>
                                     <b><%= performances.join(', ') %></b>
                                    </p>
                                    <% unless @film_descriptions[m['title']].nil? %>
                                        <% desc = @film_descriptions[m['title']] %>
                                        <p><%= desc[:plot] %></p>
                                        <p>
                                        Languages: <%= desc[:languages].join(", ") %>. Director: <%= desc[:director].join(", ") %>.
                                        Genre: <%= desc[:genres].join("/") %>
                                        </p>
                                    <% end %>
                                    </p>
                                </div>
                            </div>

			<% end %>
		<% else %>
			 <p>There are no more performances for today in this cinema.</p>
		<% end %>
	

<% end %>