<!DOCTYPE html>
<html>
<head>
  <title>Kino</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="Cinema">
    <%= render partial: "layouts/navbar" %>
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                <%= yield %>
                </div>
            </div>
</div>
</body>
</html>
